@import url(https://fonts.googleapis.com/css?family=Lato);
* { margin:0; padding:0;}
body {
	font-family: "lato", sans-serif;
	font-size: 14px;
	font-weight: 100px;
	line-height: 1.5em;
	color: #222;
	height: 100%;	
}

.body {
min-height: 100%;
/*put footer height*/
margin-bottom: -61px;
}

.body:after {
	content: "";
	display: block;
}


header {
	max-width: 1200px; 
	margin: auto;
}

header img {
	position: absolute;
	max-width: 175px;
	padding: 1em;
}

section {
	max-width:100%;
	margin:auto;
	padding:1em;
}
section#splash {
	background-image: url('../images/gds_landing_image.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:bottom;
	height:90vh;
	max-width:100%;
}
section#splash div {
	clear:both;
	margin:auto;
	max-width:100%;
	padding:10em 0 0;
}
section#services {
	background-image: url('../images/gds_landing_image.jpg');
}

.column img {
 max-width: 40px;
}

.ourteam img {
	max-width: 300px;
}

section#team {
	clear:both;
}
section#quote {
}

footer {
	clear:both;
	padding: 20px;
}

nav {
	float: right;
	margin-top: 2em;
	padding: 20px;
}
nav a{
	color:#fff;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}
nav a:hover {
	background-color: #fff;
	color:#09a597;
	border-bottom:4px solid inherit;
}
h1 {
	line-height: 4em;
	width:30em;
}
h1 span {
	background: #09a597;
	font-size: 3em;
	line-height: 0.5;
	font-weight:100;
	color: #fff;
	padding:4px;
}

h2 {
	font-size: 3em;
	text-align: center;
	padding-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	color: #09a597;
	padding-bottom: 0.5em;
}

ul {
	list-style: none;
}

input {
	padding:1em 2em;
}

input[type="input"] {
	
}
input[type="submit"] {
	
}
p.intro p {
	padding: 1em;
}
.column {
	float: left;
	width: 25%;
	padding: 1em;
	margin: 0;
}
.ourteam {
	float: left; 
	width: 25%;
	padding: 40px;
	margin: 0;
}

section#services {
	background: #fff;
}

.quote{
	clear:both;
	text-align: center;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

#contact {
   background-color: #09a597;
}
