@import url(https://fonts.googleapis.com/css?family=Lato);
* { margin:0; padding:0;}
body {
	font-family: "lato", sans-serif;
	font-size: 14px;
	font-weight: 100px;
	line-height: 1.5em;
	color: #222;
	height: 100%;	
}

.body {
min-height: 100%;
/*put footer height*/
margin-bottom: -61px;
}

.body:after {
	content: "";
	display: block;
}


header {
	max-width: 1200px; 
	margin: auto;
}

header img {
	position: absolute;
	max-width: 175px;
	padding: 1em;
}

section {
	max-width:100%;
	margin:auto;
	padding:1em;
}
section#splash {
	background-image: url('../images/gds_landing_image.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:bottom;
	height:90vh;
	max-width:100%;
}
section#splash div {
	clear:both;
	margin:auto;
	max-width:100%;
	padding:10em 0 0;
}
section#services {
	background-image: url('../images/gds_landing_image.jpg');
}

.column img {
 max-width: 40px;
}

.ourteam img {
	max-width: 300px;
}

section#team {
	clear:both;
}

section#quote {
}

footer {
	clear:both;
	padding: 20px;
}

nav {
	float: right;
	margin-top: 2em;
	padding: 20px;
}
nav a{
	color:#fff;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}
nav a:hover {
	background-color: #fff;
	color:#09a597;
	border-bottom:4px solid inherit;
}
h1 {
	line-height: 3.5em;
	width:50%;
}
h1 span {
	background: #09a597;
	font-size: 2.5em;
	line-height: 0.5;
	font-weight:100;
	color: #fff;
	padding:4px;
}

h2 {
	font-size: 3em;
	text-align: center;
	padding-bottom: 0.75em;
}

.requestquote {
	text-decoration: none;
	font-size: 2em;
	text-align: left;
	border: 2px solid #white
}

h3 {
	font-size: 1.5em;
	color: #09a597;
	padding-bottom: 0.5em;
}

ul {
	list-style: none;
}

input {
	padding:1em 2em;
}

input[type="input"] {
	
}
input[type="submit"] {
	
}
p.intro p {
	padding: 1em;
}
.column {
	float: left;
	width: 25%;
	padding: 1em;
	margin: 0;
}
.ourteam {
	float: left; 
	width: 25%;
	padding: 40px;
	margin: 0;
}

section#services {
	background: #fff;
}

.quote{
	clear:both;
	text-align: center;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

#contact {
   background-color: #09a597;
}

#socialmedia{
text-align: right;	
}

@media screen and (min-width: 610px) {
	nav.mobile {
		display:none;
	}
}

@media screen and (max-width: 994px) {
	h1 span { 
		font-size: 2em;
	}

	h1{
		line-height: 3em;
	}
}

@media screen and (max-width: 801px) {
	h1 span { 
		font-size: 1.5em;
	}

	h1{
		line-height: 2.5em;
	}
}

@media screen and (max-width: 610px) {
	header img {
	position: block;
	max-width: 140px;
	padding: 1em;
	}

	nav.clearfix {
		display:none;
	}
	
	nav.mobile {
		background: #09a597;
		padding: 1em;
		font-size: 1.2em;
		text-align: center;
	}

	h1 span { 
		display: none;
	}

	h1{
		line-height: 2em;
	}

	.requestquote {
		display: none;
	}

	.link {
		border-color: #fff;
    	border-bottom-width: 1.5px;
    	border-bottom-style: solid;
    	width: 150%;
	}
}
