@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	font-family: lato;
	color: #000;
	/*background-image: url(../images/gallery_design_studio.jpg);
	background-size: cover;	
	background-repeat:no-repeat;*/
}

nav {

}
main {

}
header {

}

footer {
	
}

div {
	
}
img {

}

h1 {

}

h2 {

}

p {

}


