@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	font-family: lato;
	color: #000;
	/*background-image: url(../images/gallery_design_studio.jpg);
	background-size: cover;	
	background-repeat:no-repeat;*/
}

header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #e8c66a;
	border: 1px black solid;
	padding: 20px;
}

main {

}

#splash {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

#services {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

#team {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

#quote {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;	
}

img {

}

h1 {

}

h2 {

}

p {

}


